{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'main.css' %}">
<form class="form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ product_form.as_p }}</p>
    <br><br>
    {{ product_gallery_form.image.label_tag }}
    {{ product_gallery_form.image }}
    <br><br>


    <input type="submit" name="" id="">
</form>
{% if product_gallery %}
    {% for image in product_gallery %}

        <form class="form" method="POST" enctype="multipart/form-data" target="sub"
              action="{% url 'products:gallery-delete' pk=image.pk slug=product_instance.product_slug %}">
            {% csrf_token %}


            <a href="{% static image.image.url %}" target="_blank">
                <img src="{% static image.image.url %}" width="50" height="50" alt="image">

            </a>
            <button class="button-danger"  type="submit" onClick="window.location.reload();" > Delete</button>
        </form>

    {% endfor %}
        <iframe id="subframe" name="sub">

        </iframe>
{% endif %}